
.modal {
  display: block !important;
  /* padding-top: 12rem; */
  background-color: #0000007e;
}
.modal-header h5 {
  font-size: 0.8rem !important;
}

.modal-footer .btn {
  font-size: 0.7rem !important;
}
.close-modal {
  font-size: 1.2rem;
}
@media (min-width: 769px) {
  .modal-header h5,
  .modal-footer .btn{
    font-size: 0.9rem !important;
  }
}
