.input-label , .form-check-label , .submitbtn-login{
    font-size: 0.9rem !important;
    margin-bottom: 1rem;
}

input.form-control{
    direction: ltr;
}

.valid{
    border: 3px solid green !important;
}
.notvalid{
    border: 3px solid red !important;
}
